@font-face {
    font-family: 'Milker';
    src: url("{% static 'Milker.otf' %}") format('otf');
    font-weight: normal;
}
.main_content {
    font-family: 'Milker', sans-serif;
    height: 90vh;
    margin-right: 10px;
    margin-left: 220px;
}
.rectangle {
    font-family: 'Milker', sans-serif;
    text-shadow: 1px 1px black;
    width: 210px;
    height: 100vh;
    background-color: #545454;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.logo {
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.page_header {
    padding-top: 10px;
    color: white;
    font-size: 52px;
    text-align: center;
    text-shadow: 2px 2px black;
}
.settings_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    width: 800px;
    height: 600px;
    background-color: #555;
    border-radius: 15px;
    color: white;
    text-shadow: 2px 2px black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.text_center {
    padding: 10px;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
}
.panel_login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: auto;
    background-color: #7a7a7a;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.panel_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 40px;
    background-color: #7a7a7a;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}
.panel_input {
    background-color: #919191;
    width: 150px;
    height: 25px;
}
.panel_input::-webkit-input-placeholder {
    color: #c2c2c2;
}
.panel_button_login {
    width: 160px;
}
.panel_button:hover {
    background-color: #a44d54;
}
.panel_button_logout {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 15px;
}
ul {
    list-style: none;
    padding: 0px;
}
a {
    text-decoration: none;
}
body{
    background-color: #666666;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #7a7a7a;
    padding: 10px 0;
    text-align: center;
}
