<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Inventory</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'warehouse_favico.png' %}" >
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="rectangle">
        <img src="{% static 'warehouse_logo_white.png' %}" height="128" width="128" class="logo">
        <div class="panel_button"><div class="text_center">HOME</div></div>
        <div class="panel_button"><div class="text_center">PROFILE</div></div>
        <div class="panel_button"><div class="text_center">SETTINGS</div></div>
        <div class="panel_button"><div class="text_center">DASHBOARD</div></div>
        <div class="panel_button panel_button_logout"><div class="text_center">LOGOUT</div></div>
    </div>
    <footer>Projekt aplikacji do inwentaryzacji magazynu  |  Politechnika Krakowska  |  Artur Migacz & Łukasz Syktus  |  2024</footer>
</body>
</html>