<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Inventory</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'warehouse_favico.png' %}" >
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="rectangle">
        <img src="{% static 'warehouse_logo_white.png' %}" height="128" width="128" class="logo">
        <ul>
            <a href="/"><li><div class="panel_button"><div class="text_center">HOME</div></div></li></a>
            {% if user.is_authenticated %}
                {% if user.is_staff  %}
                    <a href="/admin"><li><div class="panel_button"><div class="text_center">ADMIN PANEL</div></div></li></a>
                {% endif %}
                <a href="/page/profile"><li><div class="panel_button"><div class="text_center">PROFILE</div></div></li></a>
            {% else %}
                <a href="/page/register"><li><div class="panel_button"><div class="text_center">REGISTER</div></div></li></a>
            {% endif %}
            <a href="/page/settings"><li><div class="panel_button"><div class="text_center">SETTINGS</div></div></li></a>
            {% if not user.is_authenticated %}
                <div class="panel_login">
                    <form action="" method="post">
                    {% csrf_token %}
                        <li><input type="text" class="panel_button panel_input" id="usesrname" name="username" placeholder=" USERNAME" Required></li>
                        <li><input type="password" class="panel_button panel_input password_input" id="password" name="password" placeholder=" PASSWORD" Required></li>
                        <li><button type="submit" class="panel_button panel_button_login"><div class="text_center">LOGIN</div></button></li>
                    </form>
                    {% if page == "wrong_passes" %}
                        WRONG USERNAME OR PASSWORD
                    {% endif %}
                </div>
            {% else %}
            <a href="/logout"><li><div class="panel_button panel_button_logout"><div class="text_center">LOGOUT</div></div></li></a>
            {% endif %}
        </ul>
    </div>
    <div class="main_content">
        {% if page == "settings" %}
            {% include "settings.html" %}
        {% elif page == "home" %}
            {% include "inventory.html" %}
        {% endif %}
    </div>
    <footer>Projekt aplikacji do inwentaryzacji magazynu  |  Politechnika Krakowska  |  Artur Migacz & Łukasz Syktus  |  2024</footer>
</body>
</html>